{% extends 'base.html.twig' %}

{% block title %}Editer Livre{% endblock %}

{% block body %}


    {{ include('livre/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    <div class="container">
        <div class="row">
            <div class="col col-lg-6"><a href="{{ path('livre_index') }}"> <span class="btn btn-primary"><i class="fa fa-backward"></i> &nbsp;Retour</span></a>

            </div>
            {{ include('livre/_delete_form.html.twig') }}
        </div>
    </div>







{% endblock %}
