{% extends 'base.html.twig' %}

{% block title %}Nouveau Livre{% endblock %}

{% block body %}


    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('livre_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i> &nbsp;Retour</span></a>
{% endblock %}
