{% extends 'base.html.twig' %}
{% block title %}Afficher Auteur{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class=" col  col-xs-12 col-lg-3  col-md-4 col-sm-6">
                <b>Prénom</b>
            </div>
            <div class=" col  col-xs-12 col-lg-9  col-md-8 col-sm-6">
                {{ auteur.prenom }}
            </div>
        </div>

        <div class="row">
            <div class=" col  col-xs-12 col-lg-3   col-md-4 col-sm-6">
                <b>Nom</b>
            </div>
            <div class=" col col-lg-9   col-md-8 col-sm-6">
                {{ auteur.nom }}
            </div>
        </div>

        <div class="row">
            <div class=" col col-lg-3   col-md-4 col-sm-6">
                <b>Biographie</b>
            </div>
            <div class=" col col-lg-9  col-md-8 col-sm-6">
                {{ auteur.biographie }}
            </div>
        </div>
    </div>




    <hr>
    <a href="{{ path('index_auteur') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i> &nbsp;Retour</span></a>




{% endblock %}