{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}


    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i> &nbsp;Retour</span></a>
{% endblock %}
